<header>
    <img 
    src="assets/img/minhaImagem.jpeg" 
    alt="Davi Jedrzejczyk - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
    >
    <h1>Davi Jedrzejczyk</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack JavaScript | Angular | NodeJs | .NET</p>
        <p>Blumenau, Santa Catarina</p>
        <p>
            Estou na área de desenvolvimento desde 2023, estudo desde 2022, foquei incialmente no BackEnd com .NET Core 6.0.
            Depois de um ano de trabalho estou em busca de novos ares, e com isso decidi aprender mais sobre FrontEnd com Angular.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download cv
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/davi-jedrzejczyk-03b22a245/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                src="assets/icons/whatsapp.svg" 
                alt="Ícone para contato do WhatsApp"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5547992783657&text=Ol%C3%A1%20Davi,%20preciso%20de%20um%20job!"
                    target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (47) 9 99278-3657</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img 
                src="assets/icons/mail.svg" 
                alt="Ícone para contato do e-mail"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a href="mailto:djedrzejczyk88@gmail.com"
                    target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>djedrzejczyk88&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>